<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.access.mapper.DmAttributevalueMapper">
  <resultMap id="BaseResultMap" type="com.jy.entity.po.DmAttributevalue">
    <id column="dMAttributeValue_Id" jdbcType="VARCHAR" property="dMAttributeValue_Id" />
    <result column="deviceModelId" jdbcType="VARCHAR" property="deviceModelId" />
    <result column="dSpecificationId" jdbcType="VARCHAR" property="dSpecificationId" />
    <result column="deviceTypeId" jdbcType="VARCHAR" property="deviceTypeId" />
    <result column="attributeValue" jdbcType="VARCHAR" property="attributeValue" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="orderSeq" jdbcType="INTEGER" property="orderSeq" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap id="DmAvResultMap" type="com.jy.entity.vo.DmAttributevalueVo" extends="BaseResultMap" >
    <result column="dSpecificationName" jdbcType="VARCHAR" property="dSpecificationName" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
  </resultMap>
  <sql id="Base_Column_List">
    dMAttributeValue_Id, deviceModelId, dSpecificationId, deviceTypeId, attributeValue, 
    status, orderSeq, creator, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_dmattributevalue
    where dMAttributeValue_Id = #{dMAttributeValue_Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from b_dmattributevalue
    where dMAttributeValue_Id = #{dMAttributeValue_Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jy.entity.po.DmAttributevalue">
    insert into b_dmattributevalue (dMAttributeValue_Id, deviceModelId, 
      dSpecificationId, deviceTypeId, attributeValue, 
      status, orderSeq, creator, 
      createTime)
    values (#{dMAttributeValue_Id,jdbcType=VARCHAR}, #{deviceModelId,jdbcType=VARCHAR}, 
      #{dSpecificationId,jdbcType=VARCHAR}, #{deviceTypeId,jdbcType=VARCHAR}, #{attributeValue,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderSeq,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jy.entity.po.DmAttributevalue" keyProperty="dMAttributeValue_Id">
		<selectKey keyProperty="dMAttributeValue_Id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','') from dual
		</selectKey>
    insert into b_dmattributevalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dMAttributeValue_Id != null">
        dMAttributeValue_Id,
      </if>
      <if test="deviceModelId != null">
        deviceModelId,
      </if>
      <if test="dSpecificationId != null">
        dSpecificationId,
      </if>
      <if test="deviceTypeId != null">
        deviceTypeId,
      </if>
      <if test="attributeValue != null">
        attributeValue,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orderSeq != null">
        orderSeq,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dMAttributeValue_Id != null">
        #{dMAttributeValue_Id,jdbcType=VARCHAR},
      </if>
      <if test="deviceModelId != null">
        #{deviceModelId,jdbcType=VARCHAR},
      </if>
      <if test="dSpecificationId != null">
        #{dSpecificationId,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeId != null">
        #{deviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null">
        #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderSeq != null">
        #{orderSeq,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jy.entity.po.DmAttributevalue">
    update b_dmattributevalue
    <set>
      <if test="deviceModelId != null">
        deviceModelId = #{deviceModelId,jdbcType=VARCHAR},
      </if>
      <if test="dSpecificationId != null">
        dSpecificationId = #{dSpecificationId,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeId != null">
        deviceTypeId = #{deviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="attributeValue != null">
        attributeValue = #{attributeValue,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderSeq != null">
        orderSeq = #{orderSeq,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dMAttributeValue_Id = #{dMAttributeValue_Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jy.entity.po.DmAttributevalue">
    update b_dmattributevalue
    set deviceModelId = #{deviceModelId,jdbcType=VARCHAR},
      dSpecificationId = #{dSpecificationId,jdbcType=VARCHAR},
      deviceTypeId = #{deviceTypeId,jdbcType=VARCHAR},
      attributeValue = #{attributeValue,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      orderSeq = #{orderSeq,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where dMAttributeValue_Id = #{dMAttributeValue_Id,jdbcType=VARCHAR}
  </update>
    <select id="getDmAttributevaluePageList" parameterType="com.jy.entity.form.DmAttributeValueQueryForm"
		resultMap="DmAvResultMap">
	   select dmav.*,ds.dSpecificationName as dSpecificationName,ds.unit as unit from b_dmattributevalue dmav
      LEFT JOIN b_devicespecification ds on dmav.dSpecificationId = ds.dSpecification_Id
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="deviceModelId!=null">
				AND dmav.deviceModelId = #{deviceModelId}
			</if>
				<if test="status!=null">
				AND dmav.status = #{status}
			</if>
			
		</trim>
	</select>
    <select id="getAllDmAttributevalueList" parameterType="com.jy.entity.form.DmAttributeValueQueryForm"
		resultMap="DmAvResultMap">
	   select dmav.*,ds.dSpecificationName as dSpecificationName,ds.unit as unit from b_dmattributevalue dmav
      LEFT JOIN b_devicespecification ds on dmav.dSpecificationId = ds.dSpecification_Id
		<trim prefix="WHERE" prefixOverrides="AND |OR">
			<if test="deviceModelId!=null">
				AND dmav.deviceModelId = #{deviceModelId}
			</if>
				<if test="status!=null">
				AND dmav.status = #{status}
			</if>
			
		</trim>
	</select>
</mapper>